.video-thumbail {
  width: 100%;
}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-pic {
  width: 36px;
  border-radius: 50px;
}
.video-thumbail-ctn {
  margin-bottom: 8px;
  position: relative;
}
.video-channel,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-channel {
  margin-bottom: 4px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
}
.notification-icon-container {
  position: relative;
}
.notification-count {
  background-color: rgb(168, 3, 3);
  color: white;
  position: absolute;
  right: -5px;
  top: -2px;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}
